# This file represents the base specification of your challenge. It is used by
# other tools to install and deploy your challenge.


############################
# NOTE: ここから編集してください
# 
# 編集する必要のある部分は TODO: の prefix がついています
############################
name: "{{ .ChallengeName }}"      # TODO: 問題名を設定してください
author: "{{ .Author }}"           # TODO: 自分のアカウント名を設定してください
category: "{{ .Genre }}"          # TODO: カテゴリを設定してください
description: |
    説明文です。Flagを入力するだけの簡単なお仕事。
    Flagは `TsukuCTF{we1c0me}` です。 # TODO: 説明文を入力してください
attempts: 5                     # TODO: 提出回数制限がない場合はコメントアウトしてください

flags:
    - "{{ .Flag }}"                   # TODO: Flagを追加してください
    # - "TsukuCTF{we1c0me_t5ukush1}"  # 複数指定も可能

    # TODO: 複雑な設定をしたい場合は以下をコメントアウトして、よしなにやってください
    # A static case sensitive flag created with a dictionary
    # - {
    #     type: "static",
    #     content: "flag{wat}",
    # }
    # # A static case insensitive flag
    # - {
    #     type: "static",
    #     content: "flag{wat}",
    #     data: "case_insensitive",
    # }
    # # A regex case insensitive flag
    # - {
    #     type: "regex",
    #     content: "(.*)STUFF(.*)",
    #     data: "case_insensitive",
    # }

# Tags are used to provide additional public tagging to a challenge
# Accepts strings
tags:                   # TODO: 問題にタグを設定しない場合はコメントアウトしてください
    - Tsuku5h1
    - Y0sh1m1

# connection_info is used to provide a link, hostname, or instructions on how to connect to a challenge
connection_info: nc hostname 12345  # サーバを利用していない場合はコメントアウトしてください

# healthcheck is a tool/script used to check a challenge
# If connection_info was provided to CTFd when the challenge was installed, it will be passed to the healthcheck script:
# ./writeup/exploit.sh --connection-info "nc hostname 12345"
healthcheck: ./solver/solve.py     # healthcheck用のスクリプトがない場合はコメントアウトしてください

# Provide paths to files from the same directory that this file is in
# Accepts strings
files:                              # 配布ファイルがない場合はコメントアウトしてください
    - public/app.py

# Hints are used to give players a way to buy or have suggestions. They are not
# required but can be nice.
# Can be removed if unused
# Accepts dictionaries or strings
hints:                              # ヒントがない場合はコメントアウトしてください
    - {
        content: "問題文に書いてありますよね？",
        cost: 10
    }
    - このヒントのようにcostがない場合はコスト不要なヒントとして表示されます

# Requirements are used to make a challenge require another challenge to be
# solved before being available.
# Can be removed if unused
# Accepts challenge names as strings or challenge IDs as integers
# requirements:         # この問題の前に正解する必要のある問題があれば、その問題名をここに登録してください
#     - "welcome"


############################
# NOTE: ここまで編集してください
############################

# The extra field provides additional fields for data during the install/sync commands/
# Fields in extra can be used to supply additional information for other challenge types
# For example the follow extra field is for dynamic challenges. To use these following
# extra fields, set the type to "dynamic" and uncomment the "extra" section below
value: 500
type: dynamic
extra:
    initial: 500
    decay: 200
    minimum: 100

# Settings used for Dockerfile deployment
# If not used, remove or set to null
# If you have a Dockerfile set to .
# If you have an imaged hosted on Docker set to the image url (e.g. python/3.8:latest, registry.gitlab.com/python/3.8:latest)
# Follow Docker best practices and assign a tag
image: null

# Specify a host to deploy the challenge onto.
# The currently supported URI schemes are ssh:// and registry://
# ssh is an ssh URI where the above image will be copied to and deployed (e.g. ssh://root@123.123.123.123)
# registry is a Docker registry tag (e.g registry://registry.example.com/test/image)
# host can also be specified during the deploy process: `ctf challenge deploy challenge --host=ssh://root@123.123.123.123`
# edit by task4233
host: null

# Optional settings

# The state of the challenge.
# If the field is omitted, the challenge is visible by default.
# If provided, the field can take one of two values: hidden, visible.
state: visible

# Specifies what version of the challenge specification was used.
# Subject to change until ctfcli v1.0.0
version: "0.1"
